.version.alcofa_storage /* version checker */
{
	color: #000013;
	background-color: #404E0F;
}

.html
{
	background-color: #C4B8A7;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 499.599999999989px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -141px;
	padding-top: 260px;
	width: 0.01px;
}

#u992
{
	z-index: 8;
	height: 192px;
	top: 0px;
}

#u992-bw
{
	z-index: 8;
}

#u991-6
{
	z-index: 9;
	top: 72px;
	left: 50%;
	margin-left: -102px;
}

#u988-4
{
	z-index: 15;
	top: 115px;
	left: 50%;
	margin-left: -465px;
}

#u987-4
{
	z-index: 19;
	top: 115px;
	left: 50%;
	margin-left: -267px;
}

#u986-4
{
	z-index: 23;
	top: 115px;
	left: 50%;
	margin-left: 184px;
}

#u985-4
{
	z-index: 27;
	top: 115px;
	left: 50%;
	margin-left: 366px;
}

#pu1755
{
	width: 0.01px;
	margin-left: 25px;
}

#u1755
{
	z-index: 7;
	width: 513px;
	min-height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u1182
{
	z-index: 2;
	width: 437px;
	margin-right: -10000px;
	left: 712px;
	padding: 32px 50px 21px 36px;
}

#u1196-4
{
	z-index: 3;
}

#u1733-11
{
	z-index: 33;
	width: 411px;
	min-height: 279px;
	background-color: transparent;
	color: #C4B8A7;
	margin-top: 4px;
	position: relative;
}

#u1733-2
{
	font-size: 30px;
	line-height: 36px;
}

#u977
{
	z-index: 57;
	width: 974px;
	height: 2px;
	margin-left: 161px;
	margin-top: 519px;
}

.ie #u977
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu989
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -396px;
}

#u989
{
	z-index: 31;
	width: 168px;
	margin-right: -10000px;
	left: 649px;
}

#u955
{
	z-index: 44;
	min-height: 493.8250000000007px;
	padding-bottom: 0px;
}

#u955_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	left: -100px;
	padding-top: 290px;
	padding-bottom: 67px;
}

#pu948
{
	width: 0.01px;
	left: 442px;
	position: relative;
}

#u948
{
	z-index: 51;
	width: 38px;
	margin-right: -10000px;
}

#u975
{
	z-index: 55;
	width: 35px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 124px;
}

#u953
{
	z-index: 49;
	width: 33px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 247px;
}

#u950
{
	z-index: 53;
	width: 16px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 378px;
}

#u978
{
	z-index: 47;
	width: 26px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 495px;
}

#u973
{
	z-index: 45;
	width: 36px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 612px;
}

#u947
{
	z-index: 62;
	width: 1025px;
	height: 3px;
	left: 224px;
	margin-top: 31px;
}

#u952-4
{
	z-index: 58;
	left: 431px;
	margin-top: 29px;
}

#u955-bw
{
	z-index: 44;
	min-height: 493.8250000000007px;
	margin-top: 43px;
}

#widgetu956
{
	z-index: 63;
	width: 0.01px;
	height: 265px;
	margin-right: -10000px;
	margin-top: 69px;
	left: 125px;
}

#widgetu957
{
	z-index: 64;
	width: 342px;
	height: 47px;
	margin-right: -10000px;
	left: -1px;
}

#u959-4
{
	z-index: 65;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#u960-4
{
	z-index: 69;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu957:hover #u960-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu957.focus-st #u960-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu964
{
	z-index: 73;
	width: 342px;
	height: 47px;
	margin-right: -10000px;
	left: 380px;
}

#widgetu957.fld-err-st,#widgetu964.fld-err-st
{
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u967-4
{
	z-index: 74;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#u965-4
{
	z-index: 78;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu957.fld-err-st #u960-4,#widgetu964:hover #u965-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu964.focus-st #u965-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu964.fld-err-st #u965-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu957_input,#widgetu957_prompt,#widgetu964_input,#widgetu964_prompt
{
	width: 328px;
	min-height: 14px;
	padding: 6px;
}

#u968-4
{
	z-index: 82;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u962-4
{
	z-index: 86;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u963-4
{
	z-index: 90;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu956.frm-sub-st #u968-4,#widgetu956.frm-subm-err-st #u962-4,#widgetu956.frm-subm-ok-st #u963-4
{
	min-height: 25px;
}

#u961-17
{
	z-index: 94;
	min-height: 31px;
	width: 81px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 1144px;
}

#widgetu969
{
	z-index: 111;
	width: 342px;
	height: 101px;
	margin-right: -10000px;
	left: 762px;
}

#widgetu969.fld-err-st
{
	width: 342px;
	height: 101px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u972-4
{
	z-index: 112;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#widgetu957.fld-err-st #u959-4,#widgetu964.fld-err-st #u967-4,#widgetu969.fld-err-st #u972-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u970-4
{
	z-index: 116;
	width: 328px;
	min-height: 68px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu969:hover #u970-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu969.focus-st #u970-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu969.fld-err-st #u970-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu969_input,#widgetu969_prompt
{
	width: 328px;
	min-height: 68px;
	padding: 6px;
}

#widgetu957:hover #widgetu957_input,#widgetu957.focus-st #widgetu957_input,#widgetu957.fld-err-st #widgetu957_input,#widgetu957:hover #widgetu957_prompt,#widgetu957.focus-st #widgetu957_prompt,#widgetu957.fld-err-st #widgetu957_prompt,#widgetu964:hover #widgetu964_input,#widgetu964.focus-st #widgetu964_input,#widgetu964.fld-err-st #widgetu964_input,#widgetu964:hover #widgetu964_prompt,#widgetu964.focus-st #widgetu964_prompt,#widgetu964.fld-err-st #widgetu964_prompt,#widgetu969:hover #widgetu969_input,#widgetu969.focus-st #widgetu969_input,#widgetu969.fld-err-st #widgetu969_input,#widgetu969:hover #widgetu969_prompt,#widgetu969.focus-st #widgetu969_prompt,#widgetu969.fld-err-st #widgetu969_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u1617
{
	z-index: 120;
	width: 216px;
	margin-right: -10000px;
	margin-top: 205px;
	left: 638px;
}

body
{
	position: relative;
	min-width: 1280px;
}

#page .verticalspacer
{
	clear: both;
}

