.version.bola_de_pelo /* version checker */
{
	color: #0000F5;
	background-color: #AE7BB5;
}

.html
{
	background-color: #C4B8A7;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 499.9999999999909px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -142px;
	padding-top: 260px;
	width: 0.01px;
}

#u1008
{
	z-index: 4;
	height: 192px;
	top: 0px;
}

#u1008-bw
{
	z-index: 4;
}

#u1003-6
{
	z-index: 5;
	top: 72px;
	left: 50%;
	margin-left: -102px;
}

#u1002-4
{
	z-index: 11;
	top: 115px;
	left: 50%;
	margin-left: -465px;
}

#u1007-4
{
	z-index: 15;
	top: 115px;
	left: 50%;
	margin-left: -267px;
}

#u1009-4
{
	z-index: 19;
	top: 115px;
	left: 50%;
	margin-left: 184px;
}

#u1006-4
{
	z-index: 23;
	top: 115px;
	left: 50%;
	margin-left: 366px;
}

#pu1178
{
	width: 0.01px;
	margin-left: 25px;
}

#u1178
{
	z-index: 3;
	width: 513px;
	min-height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1184
{
	z-index: 2;
	width: 422px;
	margin-right: -10000px;
	left: 710px;
	padding: 38px 50px 16px 53px;
}

#u1197-4
{
	z-index: 116;
}

#u1287-11
{
	z-index: 29;
	width: 411px;
	min-height: 279px;
	background-color: transparent;
	color: #C4B8A7;
	margin-top: 1px;
	position: relative;
}

#u1287-2
{
	font-size: 30px;
	line-height: 36px;
}

#u1025
{
	z-index: 53;
	width: 974px;
	height: 2px;
	margin-left: 164px;
	margin-top: 487px;
}

.ie #u1025
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu1004
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -395px;
}

#u1004
{
	z-index: 27;
	width: 168px;
	margin-right: -10000px;
	left: 652px;
}

#u1028
{
	z-index: 40;
	min-height: 493.8249999999998px;
	padding-bottom: 0px;
}

#u1028_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	left: -100px;
	padding-top: 290px;
	padding-bottom: 67px;
}

#pu1026
{
	width: 0.01px;
	left: 445px;
	position: relative;
}

#u1026
{
	z-index: 47;
	width: 38px;
	margin-right: -10000px;
}

#u1021
{
	z-index: 51;
	width: 35px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 124px;
}

#u1048
{
	z-index: 45;
	width: 33px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 247px;
}

#u1052
{
	z-index: 49;
	width: 16px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 378px;
}

#u1023
{
	z-index: 43;
	width: 26px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 495px;
}

#u1029
{
	z-index: 41;
	width: 36px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 612px;
}

#u1051
{
	z-index: 58;
	width: 1025px;
	height: 3px;
	left: 228px;
	margin-top: 31px;
}

#u1050-4
{
	z-index: 54;
	left: 435px;
	margin-top: 29px;
}

#u1028-bw
{
	z-index: 40;
	min-height: 493.8249999999998px;
	margin-top: 43px;
}

#widgetu1031
{
	z-index: 59;
	width: 0.01px;
	height: 265px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 128px;
}

#widgetu1038
{
	z-index: 60;
	width: 342px;
	height: 47px;
	margin-right: -10000px;
	left: -1px;
}

#u1039-4
{
	z-index: 61;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#u1041-4
{
	z-index: 65;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1038:hover #u1041-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1038.focus-st #u1041-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1032
{
	z-index: 69;
	width: 342px;
	height: 47px;
	margin-right: -10000px;
	left: 380px;
}

#widgetu1038.fld-err-st,#widgetu1032.fld-err-st
{
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1035-4
{
	z-index: 70;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#u1034-4
{
	z-index: 74;
	width: 328px;
	min-height: 14px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1038.fld-err-st #u1041-4,#widgetu1032:hover #u1034-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1032.focus-st #u1034-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1032.fld-err-st #u1034-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1038_input,#widgetu1038_prompt,#widgetu1032_input,#widgetu1032_prompt
{
	width: 328px;
	min-height: 14px;
	padding: 6px;
}

#u1037-4
{
	z-index: 78;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u1043-4
{
	z-index: 82;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#u1042-4
{
	z-index: 86;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu1031.frm-sub-st #u1037-4,#widgetu1031.frm-subm-err-st #u1043-4,#widgetu1031.frm-subm-ok-st #u1042-4
{
	min-height: 25px;
}

#u1036-17
{
	z-index: 90;
	min-height: 31px;
	width: 81px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 1144px;
}

#widgetu1044
{
	z-index: 107;
	width: 342px;
	height: 101px;
	margin-right: -10000px;
	left: 762px;
}

#widgetu1044.fld-err-st
{
	width: 342px;
	height: 101px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1047-4
{
	z-index: 108;
	width: 200px;
	min-height: 20px;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1038.fld-err-st #u1039-4,#widgetu1032.fld-err-st #u1035-4,#widgetu1044.fld-err-st #u1047-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u1045-4
{
	z-index: 112;
	width: 328px;
	min-height: 68px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1044:hover #u1045-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1044.focus-st #u1045-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1044.fld-err-st #u1045-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1044_input,#widgetu1044_prompt
{
	width: 328px;
	min-height: 68px;
	padding: 6px;
}

#widgetu1038:hover #widgetu1038_input,#widgetu1038.focus-st #widgetu1038_input,#widgetu1038.fld-err-st #widgetu1038_input,#widgetu1038:hover #widgetu1038_prompt,#widgetu1038.focus-st #widgetu1038_prompt,#widgetu1038.fld-err-st #widgetu1038_prompt,#widgetu1032:hover #widgetu1032_input,#widgetu1032.focus-st #widgetu1032_input,#widgetu1032.fld-err-st #widgetu1032_input,#widgetu1032:hover #widgetu1032_prompt,#widgetu1032.focus-st #widgetu1032_prompt,#widgetu1032.fld-err-st #widgetu1032_prompt,#widgetu1044:hover #widgetu1044_input,#widgetu1044.focus-st #widgetu1044_input,#widgetu1044.fld-err-st #widgetu1044_input,#widgetu1044:hover #widgetu1044_prompt,#widgetu1044.focus-st #widgetu1044_prompt,#widgetu1044.fld-err-st #widgetu1044_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u1620
{
	z-index: 120;
	width: 216px;
	margin-right: -10000px;
	margin-top: 232px;
	left: 638px;
}

body
{
	position: relative;
	min-width: 1280px;
}

#page .verticalspacer
{
	clear: both;
}

